<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675380318018-rrooslrpn61pkfnmr9mharaiec7t04rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675380318018-rrooslrpn61pkfnmr9mharaiec7t04rr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675380318018-uigo4tdsidupndvc6ujguanokpvd0oas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIFO2uk0LBu7-yaMhBDmJb1CWpdjda7f4</string>
	<key>GCM_SENDER_ID</key>
	<string>675380318018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icdatinnovations.primarySchoolGraduates</string>
	<key>PROJECT_ID</key>
	<string>primary-s-graduates-template</string>
	<key>STORAGE_BUCKET</key>
	<string>primary-s-graduates-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675380318018:ios:4510e902f04250f9c442db</string>
</dict>
</plist>